# NOTE: Keep in sync with .github/workflows/ci.yml and asdf's .tool-versions.

# https://github.com/elixir-lang/elixir/tags
elixir_version=1.19.3

# https://github.com/erlang/otp/tags
erlang_version=28.1.1

# https://hub.docker.com/r/hexpm/elixir/tags: find a version supporting the combination above (filter on alpine)
alpine_version=3.22.2
