# NOTE: Keep in sync with .github/workflows/ci.yml and asdf's .tool-versions.

# https://github.com/elixir-lang/elixir/tags
elixir_version=1.18.4

# https://github.com/erlang/otp/tags
erlang_version=27.3.4

# https://hub.docker.com/r/hexpm/elixir/tags: find a version supporting the combination above
alpine_version=3.21.3
