# NOTE: Keep in sync with .github/workflows/ci.yml and asdf's .tool-versions.

# https://github.com/elixir-lang/elixir/tags
elixir_version=1.16.3

# https://github.com/erlang/otp/tags
erlang_version=26.2.5.2

# https://hub.docker.com/r/hexpm/elixir/tags: find a version supporting the combination above
alpine_version=3.20.2

