<div class="info-box">
  <%= unless @username do %>
    <p>Hello, stranger! Please <%= live_patch("log in", to: Routes.tabs_path(@socket, :settings)) %>.</p>
  <% end %>

  <p>
    <%= filter_link @socket, assigns, :comments, "Unresolved", is: "unresolved" %>
    ·
    <%= filter_link @socket, assigns, :comments, "Resolved", is: "resolved" %>
    ·
    <%= filter_link @socket, assigns, :comments, "All comments", is: "all" %>
  </p>
  <%= if @username do %>
    <p>
      <%= filter_link @socket, assigns, :comments, "For me", role: "for_me" %>
      ·
      <%= filter_link @socket, assigns, :comments, "By me", role: "by_me" %>
      ·
      <%= filter_link @socket, assigns, :comments, "For anyone", role: "all" %>
    </p>
  <% end %>
</div>

<%= if @notifications == [] do %>

  <RemitWeb.NoContentComponent.render />

<% else %>

  <%= for notification <- @notifications do %>
    <RemitWeb.CommentComponent.render
      id={notification.id}
      notification={notification}
      comment={notification.comment}
      commit={notification.comment.commit}
      at_me?={@username && String.downcase(notification.username) == String.downcase(@username)}
      resolved?={notification.resolved_at}
      resolved_coauthors={Remit.CommentNotification.resolved_coauthors(notification)}
      your_last_selected?={@your_last_selected_id == notification.id}
    />
  <% end %>

<% end %>
