/*
 * Components go here.
 * Typically a class (or component with sub-classes) that gathers a bunch of styles for consistent reuse.
*/

.tabs {
  @apply flex;

  &__tab {
    @apply text-base py-2 px-3 flex-1 text-center border-r border-b border-gray-mid bg-gray-100;
    @apply no-underline;

    @apply text-gray-dark;

    &:last-child { border-right: 0; }

    .tabs__tab__text {
      @apply ml-1;
    }

    &.tabs__tab--settings {
      @apply flex-none;

      .tabs__tab__text {
        display: none;
        @apply ml-0;
      }
      &.tabs__tab--current {
        @apply flex-1;

        .tabs__tab__text {
          display: inline;
          @apply ml-1;
        }
      }
    }

    @media (max-width: 400px) {
      @apply py-1 px-2;
      font-size: 13px;
    }

    &--current {
      @apply bg-white border-b-0 text-almost-black;
      &.tabs__tab--commits i { @apply text-green-mid; }
      &.tabs__tab--comments i { @apply text-yellow-500; }
      &.tabs__tab--settings i { @apply text-blue-500; }
    }
  }
}

.info-box {
  @apply bg-gray-200 py-2 mb-4 text-center;
}

.header-box {
  @apply bg-gray-200 py-2 text-center sticky top-0 border-b border-gray-light z-10;
}

.commit {
  &--highlight {
    @apply bg-yellow-200;
  }
  &--reviewed {
    @apply bg-green-light;
  }
  &--highlight&--reviewed {
    @apply bg-chartreuse;
  }
  &--being-reviewed {
    @apply bg-blue-100;
  }
  &--highlight&--being-reviewed {
    @apply bg-chartreuse;
  }
}

.comment {
  &--resolved {
    @apply opacity-50;
  }

  &--highlight {
    .comment__metadata {
      @apply bg-yellow-300;
    }
  }
}

.paragraphs {
  p { @apply my-3; }
}

.bouncy-ellipsis {
  span {
    display: inline-block;
    animation: bouncy-ellipsis 1s infinite alternate;

    &:nth-of-type(2) { animation-delay: 0.2s; }
    &:nth-of-type(3) { animation-delay: 0.4s; }
  }

  @keyframes bouncy-ellipsis {
    0%, 60% { transform: initial; }
    100% { transform: translateY(-0.2em); }
  }
}

.zzz-animation {
  animation: zzz 3s infinite;
  animation-delay: 1s;

  @keyframes zzz {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    30% {
      transform: scale(1.0);
      opacity: 1.0;
    }
    75%, 100% {
      transform: scale(2.0);
      opacity: 0;
    }
  }
}
