/*
 * Components go here.
 * Typically a class (or component with sub-classes) that gathers a bunch of styles for consistent reuse.
*/

.tabs {
  @apply flex;

  &__tab {
    @apply text-base py-2 px-3 flex-1 text-center border-r border-b border-gray-mid bg-gray-100;
    @apply no-underline;

    @apply text-gray-dark;

    &:last-child { border-right: 0; }

    .tabs__tab__text {
      @apply ml-1;
    }

    &.tabs__tab--settings {
      @apply flex-none;

      .tabs__tab__text {
        display: none;
        @apply ml-0;
      }
      &.tabs__tab--current {
        @apply flex-1;

        .tabs__tab__text {
          display: inline;
          @apply ml-1;
        }
      }
    }

    &--current {
      @apply bg-white border-b-0 text-almost-black;
      &.tabs__tab--commits i { @apply text-green-mid; }
      &.tabs__tab--comments i { @apply text-yellow-500; }
      &.tabs__tab--settings i { @apply text-blue-500; }
    }
  }
}

.info-box {
  @apply bg-gray-200 py-2 mb-4 text-center;
}

.commit {
  &--highlight {
    @apply bg-yellow-200;
  }
  &--reviewed {
    @apply bg-green-light;
  }
  &--highlight&--reviewed {
    @apply bg-chartreuse;
  }
  &--being-reviewed {
    @apply bg-blue-100;
  }
  &--highlight&--being-reviewed {
    @apply bg-chartreuse;
  }

  &__reviewing-icon {
    @keyframes heartbeat {
      70% {
        opacity: 0.8;
        transform: scale(1);
      }
      100% {
        opacity: 0.6;
        transform: scale(1.4);
      }
    }

    /* 1.6s to be a calm heartrate-like speed. 100 BPM ≈ 1.6s each. */
    animation: 1.6s ease-in-out infinite alternate both heartbeat;
    margin-right: 2px;

    text-shadow: 0 0 3px #fff;
  }
}

.comment {
  &--resolved {
    @apply opacity-50;
  }

  &--highlight {
    .comment__metadata {
      @apply bg-yellow-300;
    }
  }
}

.field {
  @apply my-6;

  &__explanation {
    @apply text-gray-dark mt-3;

    p { @apply my-2; }
  }
}

.gravatar {
  &--big {
    width: 45px;
    height: 45px;
  }

  &--small {
    width: 25px;
    height: 25px;
  }
}
