@import "tailwindcss/base";
@import "./_base.css";

@import "tailwindcss/components";
@import "./_components.css";

@import "tailwindcss/utilities";
@import "./_utilities.css";

/* Progress indicator used by LiveView. */
@import "../node_modules/nprogress/nprogress.css";

/* Applied to a phx-click element while running that event. */
.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

/* .phx-disconnected is applied to a LiveView container when LiveView thinks it's disconnected. */
/* .consocket-closed is applied by our own ConnectionDetectionSocket JS when the connection drops. */
.phx-disconnected, .consocket-closed {
  cursor: wait;

  & * {
    pointer-events: none;
  }
}
