@import "tailwindcss/base";
@import "./_base.css";

@import "tailwindcss/components";
@import "./_components.css";

@import "tailwindcss/utilities";
@import "./_utilities.css";

/* Progress indicator used by LiveView. */
@import "../node_modules/nprogress/nprogress.css";

/* Tooltips */
@import "../node_modules/balloon-css/balloon.css";

/* Applied to a phx-click element while running that event. */
.phx-click-loading {
  opacity: 0.3;
}

/*
 * .phx-loading is applied to a LiveView container when LiveView thinks it's disconnected.
 * .ping-offline is applied by our own connection detection JS when the connection drops.
 * These don't always co-occur. A LiveView process can crash while we still receive connection detection pings, and connection detection can trigger before LiveView notices.
 * */
.phx-loading, .ping-offline {
  cursor: wait;

  & * {
    pointer-events: none;
  }
}

.ping-offline__banner {
  display: none;

  .ping-offline & { display: block; }
}