@import "tailwindcss/base";
@import "./_base.css";

@import "tailwindcss/components";
@import "./_components.css";

@import "tailwindcss/utilities";
@import "./_utilities.css";

/* Progress indicator used by LiveView. */
@import "../node_modules/nprogress/nprogress.css";

/* Applied to a phx-click element while running that event. */
.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

/* Applied to a LiveView container if the client doesn't get replies to its heartbeats. */
.phx-disconnected {
  cursor: wait;

  & * {
    pointer-events: none;
  }
}
