<div class="phx-hook-subscribe-to-session info-box">
  <%= unless @username do %>
    <p>Hello, stranger! Please <%= live_patch("set a username", to: Routes.tabs_path(@socket, :settings)) %>.</p>
  <% end %>

  <p>
    <%= filter_link @socket, assigns, "Unresolved", is: "unresolved" %>
    ·
    <%= filter_link @socket, assigns, "Resolved", is: "resolved" %>
    ·
    <%= filter_link @socket, assigns, "All comments", is: "all" %>
  </p>
  <%= if @username do %>
    <p>
      <%= filter_link @socket, assigns, "For me", role: "for_me" %>
      ·
      <%= filter_link @socket, assigns, "By me", role: "by_me" %>
      ·
      <%= filter_link @socket, assigns, "For anyone", role: "all" %>
    </p>
  <% end %>
</div>

<%= if @notifications == [] do %>

  <%= live_component RemitWeb.NoContentComponent %>

<% else %>

  <%= for notification <- @notifications do %>
    <%= live_component RemitWeb.CommentComponent,
      id: notification.id,
      notification: notification,
      comment: notification.comment,
      commit: notification.comment.commit,
      at_me?: notification.username == @username,
      resolved?: notification.resolved_at,
      your_last_selected?: (@your_last_selected_id == notification.id)

    %>
  <% end %>

<% end %>
