<div class="phx-hook-subscribe-to-session info-box">
  <p>
    <%= filter_link "Unresolved", "change_resolved_filter", "unresolved", @resolved_filter %>
    ·
    <%= filter_link "Resolved", "change_resolved_filter", "resolved", @resolved_filter %>
    ·
    <%= filter_link "All comments", "change_resolved_filter", "all", @resolved_filter %>
  </p>
  <p>
    <%= filter_link "For me", "change_user_state", "for_me", @user_state %>
    ·
    <%= filter_link "By me", "change_user_state", "by_me", @user_state %>
    ·
    <%= filter_link "For anyone", "change_user_state", "all", @user_state %>
  </p>
</div>

<%= if @notifications == [] do %>
  <div class="mt-10 text-center">
    <p><i class="fad fa-star-shooting text-6xl text-yellow-500"></i></p>
    <p class="text-lg text-gray-mid pt-3">Nothing yet!</p>
  </div>
<% else %>
  <%= for notification <- @notifications do %>
    <%= live_component @socket, RemitWeb.CommentComponent,
      id: notification.id,
      notification: notification,
      comment: notification.comment,
      commit: notification.comment.commit,
      at_me?: notification.username == @username,
      resolved?: notification.resolved_at
    %>
  <% end %>
<% end %>
